

{% extends 'base.html' %}

{% block content %}


<span style="font-weight: bold; color: rgb(207, 119, 136); padding: 10px; background-color: #fff; border-radius: 10px; position: relative; top: 20px;">
  Development : {{name}}</span>   <br/>

 <!-- Product : {{products}}  <br/> -->
 






 

 <div class="container mt-5" style="position: relative; top: 20px; right: 20px;">
  <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center gap-2">


{% for product in products %}

<div>

{% if product.is_sale %}
      
<div class="card" style="width: 18rem;">
  <div class="img-con">
    <img src="{{product.image.url}}" class="card-img-top" alt="...">
  </div>
  
  <div class="card-body" style="height:120px; overflow: hidden;">
    <h5 class="card-title">{{product.name}}</h5>
    <p class="card-text">{{product.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
 
    <li class="list-group-item">{{product.category}}</li>
  </ul>
  <div class="card-body">
    <h6><a href="{% url 'product' product.id %}" class="card-link">Buy Now :</a> <strike>{{product.price}}</strike> {{product.sale_price}}</h6>
  
  </div>
</div>

{% else %}
<div class="card" style="width: 18rem;">
  <div class="img-con">
    <img src="{{product.image.url}}" class="card-img-top" alt="...">
  </div>
  
  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
    <p class="card-text">{{product.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
 
    <li class="list-group-item">{{product.category}}</li>
  </ul>
  <div class="card-body">
    <h6 class="mt-3 p-2" ><a href="{% url 'product' product.id %}" class="buy-button">Buy Now</a> <span style="position: absolute; right: 50px; font-weight: bolder;"> &#8377;{{product.price}}</span></h6>
  
  </div>
</div>
  
{% endif %}
  

</div>
  {% endfor %}
</div>
</div>





    




{% endblock  %}




 

    