{% extends 'base.html' %}


{% block content %}
<div class="form-con">

</div>
<form method="post" class="form-css">
    {% csrf_token %}

    <h1>Forget Password - </h1> <br />
<div class="hrs"></div>


    <div class="input-con">
        <label> Regsitered Email Address</label>
        <input type="email" name="otp_email" placeholder="Enter email Address">
    </div>

    <button type="submit" class="btn btn-success">Send Otp</button>



</form>


{% if email_verify %}


<h1>Update Password : </h1>

<form method="post">
    {% csrf_token %}


    {{forms}}


    <button type="submit" class="btn btn-success">Update Password</button>
</form>



{% endif %}



{% endblock content %}