{% extends 'base.html' %}


{% block content %}
<div class="form-con">

    <form action=""  method="POST" class="form-css">
        {% csrf_token %}

    <h3>Login Form</h3><div class="hrs"></div><br>
<div class="input-con">
    <label class="form-label" style="font-weight: bold;">E-mail</label><br>
    <input type="text" name="username" placeholder="Enter email-address"><br>
    <label class="form-label" style="font-weight: bold; margin-top: 30px;">Password</label><br>
    <input type="text" name="password" placeholder="Enter Password">
</div>

   <button type="submit" class="btn btn-success" style=" margin:10px 0 20px 0;"> Login</button>
   
   <div>
       <p  style="display: inline-block;">Don't have an account? &nbsp;</p><a href="{% url 'register_page' %}" style="text-decoration: none;">Register</a>
    </div>
</form>
</div>
    


{% endblock content %}
    

   
